.btn-subscribe{
    border:0;
    background: none;
    height: 35px;
    color: $white;
    font-size: 16px;
    font-family: $font-open;
    background-color: #accfea;
    border-radius: 0;
    box-shadow: none;
    @include opacity(1);
    @include transition(opacity 0.35s);
    
    &:hover{
        opacity: 0.8;
        color: $white;
    }
}
