nav{
    &.nav-bar-menu{
        min-height: 65px;
        background-color: #d4e5f2;
        border-bottom: 1px solid $white;
    }
    .menu{
        padding: 0;
        margin: 0;
        text-align: justify;

        li{
            display: inline-block;
            margin-right: 75px;
            position: relative;

            a{
                color: #003453;
                font-family: $font-open;
                font-weight: 600;
                text-align: left;
                text-transform: uppercase;
                padding: 14px 10px;
                display: block;

                span{
                    display: block;
                    font-size: 12px;
                    font-family: $font-arial;
                    font-weight: normal;
                    color: #5a839c;
                    text-transform: lowercase;
                }

                &:hover{
                    text-decoration: none;
                }
            }

            &:first-child{
                a{
                    padding-left: 0;
                }
            }
            &:last-child{
                margin-right: 0;

                a{
                    padding-right: 0;
                }
            }

            .submenu{
                display: none;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 66px;
                background-color: #e5eef3;
                border-bottom: 5px solid #c7d5dd;
                list-style: none;
                z-index: 105;

                li{
                    display: block;
                    width: 100%;

                    a{
                        display: block;
                        padding: 4px 15px;
                        color: #000000;
                        font-family: $font-open;
                        font-weight: 300;
                        font-size: 16px;
                        text-transform: capitalize;
                        @include transition(background 0.35s);

                        &:hover{
                            background-color: #c8d4dd;
                        }
                    }
                }
            }

            &:hover{
                .submenu{
                    display: block;
                }
            }
        }
    }
}
a:focus, a:active, a:hover, a{
    outline: 0;
}
main{
    background: url("../img/ice-left.png") no-repeat 0 0;
    background-repeat: repeat-y;

    .ice-right{
        background: url("../img/ice-right.png") no-repeat right 0;
        background-repeat: repeat-y;
    }
    section.slider-top{
        position: relative;

        .slide{
            img{
                width: 100%;
            }

            .info-slide{
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 735px;
                height: 370px;
                margin-left: -115px; 
                @include border-radius(370px 370px 0 0);
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 65;
                color: #1c2c4b;
                font-family: $font-open;
                padding:75px 190px;
                padding-left: 200px;

                h4{
                    font-size: 25px;
                }

                h3{
                    font-size: 30px;
                }

                h2{
                    font-size: 40px;
                    font-weight: bold;
                }
            }
        }
        .bx-controls{
            .bx-pager{
                position: absolute;
                left: 50%;
                text-align: center;
                bottom: 295px;
                z-index: 65;
                width: 735px;
                margin-left: -110px; 

                .bx-pager-item{
                    display: inline-block;

                    .bx-pager-link{
                        text-indent: -9999px;
                        background: url("../img/slider-nav.png") no-repeat 0 0;
                        display: block;
                        margin: 5px;
                        width: 25px;
                        height: 25px;

                        &.active {
                            background-position: -27px 0;
                        }
                    } 
                }
            }
        }
    } 
    .category{
        margin-top: 20px;
        margin-bottom: 20px;

        .category-item{
            width: 19%;
            display: inline-block;
            text-align: center;

            .logo{
                line-height: 160px;
                img{
                    max-width: 100%;
                    margin-bottom: 15px;
                }
            }

            a{
                display: block;
                color: #7e9cc2;
                font-weight: 600;
                font-family: $font-open;
                text-transform: uppercase;
            }
        }
    }
    h1{
        font-family: $font-open;
        font-weight: 300;
        font-size: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
        color: #1c2c4b;
    }
    .slider-product-side{
        position: relative;

        .slider-product{
            .slide{
                text-align: center;

                img{
                    max-width: 100%;
                }
            }
        }

        .bx-controls-direction{
            .bx-prev, .bx-next{
                position: absolute;
                top: 50%;
                background: url("../img/product-control.png") no-repeat 0 0;
                display: block;
                width: 107px;
                height: 274px;
                margin-top: -140px;
                text-indent: -9999px;
            }
            .bx-prev{
                left: 0;
            }
            .bx-next{
                background-position: -106px 0; 
                right: 0;
            }
        }
    }

    .news{
        background: url("../img/bg-news.png") no-repeat 0 0;
        background-size: 100% 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .item-news{
        margin-bottom: 25px;

        &.list-view{
            a.title{
                line-height: 24px;
                padding-bottom: 10px;
                display: block;
            }
            img{
                margin-right: 20px;
            }
        }

        &.big-view{
            img{
                float: none;
                max-height: 300px;
                margin-bottom: 20px;
            } 
        }

        img{
            float: left;
            margin-right: 10px;
        }

        p.date{
            color: #4b4b4b;
            font-size: 16px;
            font-family: $font-open;
            font-weight: 300;
        }
        a.title{
            color: #004e7c;
            font-size: 24px;
            font-family: $font-open;
        }
        p.descr{
            color: #000000;
            font-size: 16px;
            font-family: $font-open;
            font-weight: 300;
        }
    }

    .why{
        background: url("../img/bg-why.png") no-repeat right bottom;
        background-size: 150px 300px;
        padding-bottom: 30px;
        .image-box{
            height: 220px;
            line-height: 220px;
            text-align: center;
            padding-right: 30px;

            img{
                max-width: 100%;
            }
        }
        a.title{
            color: #004e7c;
            font-size: 24px;
            font-family: $font-open;
            margin-bottom: 10px;
            display: block;
            padding-right: 30px;
        }
        p.descr{
            color: #6b7f8b;
            font-size: 16px;
            font-family: $font-open;
            font-weight: 400;
            padding-right: 30px;
        }

        .one{
            position: absolute;
            top: 220px;
            left: -40px;
            background: url(../img/1.png) no-repeat 0 0px;
            width: 100px;
            height: 100px;
        }

        .two{
            position: absolute;
            top: 220px;
            left: -40px;
            background: url(../img/2.png) no-repeat 0 0px;
            width: 100px;
            height: 100px;
        }

        .three{
            position: absolute;
            top: 220px;
            left: -40px;
            background: url(../img/3.png) no-repeat 0 0px;
            width: 100px;
            height: 100px;
        }
    }

    .breadcrumb{
        background: none;
        padding: 0;
        margin: 0;
        li{
            color: #004e7c;
            font-weight: 300;
            font-size: 16px;
            font-family: $font-open;
            margin:20px 0 0;
            a{
                color: #004e7c;
                font-weight: 300;
                font-size: 16px;
                font-family: $font-open;

                &:hover{
                    color: #004e7c;
                    text-decoration: underline;
                }                    
            }
        }
        & > li + li:before{
            color: #004e7c;
            font-weight: 300;
            font-size: 16px;
            font-family: $font-open;
        }
    }

    .pagination-block{
        color: #000000;
        font-family: $font-open;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 20px;
        span{
            display: inline-block;
        }

        ul.pagination-list{
            display: inline-block;
            padding: 0;
            margin: 0;
            list-style: none;

            li{
                display: inline-block;
                margin:0 5px;
                a{
                    font-family: $font-open;
                    font-weight: 300;
                    font-size: 18px;
                    color: #004e7c;
                    border-top: 2px solid $white;
                    padding: 3px 10px 2px;
                    @include transition(all 0.35s);

                    &:hover{
                        text-decoration: none;
                        border-top: 2px solid #94a0a9;
                        background-color: #aebdc8;
                        color: $white;
                    }
                }

                &.active{
                    a{
                        border-top: 2px solid #94a0a9;
                        background-color: #aebdc8;
                        color: $white;

                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    h5{
        font-size: 24px;
        color: #000000;
        font-family: $font-open;
    }
    .share-block{
        margin-bottom: 20px;
    }
}
ul.social-buttons{
    padding: 0;
    margin: 0;
    margin-top: 20px;

    li{
        display: inline-block;
        margin: 5px;

        &:first-child{
            margin-left: 0;
        }
        a{
            span{
                color: #000000;
                font-size: 16px;
                font-family: $font-open;
                font-weight: 300;
                border-bottom: 1px dotted #000000;
                margin-left: 5px;
                margin-right: 10px;
                @include transition(all 0.35s);
            } 

            .social{
                vertical-align: middle;
            }

            &:hover{
                text-decoration: none;

                .social{
                    @include opacity(1);
                    vertical-align: middle;
                }

                span{
                    border: 0;
                }

            }
        }

    }
}
.form-side{
    margin-bottom: 30px;

    label{
        color: #000000;
        font-size: 16px;
        font-family: $font-open;
        font-weight: 300;
        margin-bottom: 10px;
    }
    input.form-control, textarea.form-control{
        border-radius: 0;
        box-shadow: none;
        border: 0;
        background-color: #e7edf2;
        height: 35px;
        font-size: 16px;
    }

    textarea.form-control{
        height: 140px;
    }

    .add-file{
        width: 100%;
        height: 35px;
        position: relative;
        background-color: #e7edf2;
        padding:4px 15px;
        background-image:url("../img/upload.png");
        background-repeat: no-repeat;
        background-position: 97% center;

        span{
            color: #000000;
            font-size: 16px;
            font-family: $font-open;

        }
        input[type="file"]{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @include opacity(0);
            cursor: pointer;
        }
    }
}
.query-block{
    border-top: 1px solid #b4b4b4;
    padding: 15px 15px 30px;
    margin-top: 10px;

    .ask{
        position: relative;
        padding-left: 120px;
        margin-bottom: 20px;

        .name-block{
            position: absolute;
            top: 0px;
            left: 0px;

            p.name{
                color: #000000;
                font-family: $font-open;
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 5px;
            }
            p.date{
                color: #828282;
                font-family: $font-open;
                font-size: 12px;
                font-weight: 300;
                margin: 0;
            }
        }

        p{
            color: #000000;
            font-family: $font-open;
            font-size: 16px;
            font-weight: 300;
        }
    }

    .answer{
        position: relative;
        padding-left: 240px; 

        .type-block{
            position: absolute;
            top: 0px;
            left: 0px;
            p{
                color: #828282;
                font-family: $font-open;
                font-size: 16px;
                font-weight: 300; 
            }
        }

        .name-block{
            position: absolute;
            top: 0px;
            left: 120px;
            p{
                color: #000000;
                font-family: $font-open;
                font-size: 16px;
                font-weight: 600;
                margin: 0;
            }
        }

        p{
            color: #000000;
            font-family: $font-open;
            font-size: 16px;
            font-weight: 300;
        }
    }
}
.shop-list{
    background-color: #e7edf2;
    padding: 15px;
    margin-bottom: 15px;

    a.name{
        color: #004e7c;
        font-family: $font-open;
        font-size: 24px;

        &:hover{
            text-decoration: underline;
            color: #004e7c;
        }
    }

    p{
        color: #000000;
        font-size: 18px;
        font-family: $font-open;
        font-weight: 300;
        margin-bottom: 5px;

        &.title{
            margin-bottom: 10px;
            color: #7c7c7c;
        }
    }

    .tool-shop{
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        bottom: 15px;
        left: 20px;
        li{
            display: inline-block;
            margin: 5px;
        }
    }
}
.select-city{
    float: right;
    margin-top: 30px;

    span.name{
        color: #000000;
        font-size: 16px;
        font-family: $font-open;
        font-weight: 300;
        display: inline-block;
        margin-right: 10px;
        margin-top: 5px;
    }
}
.bootstrap-select{

    .selectpicker.btn-default{
        border: 0;
        border-radius: 0;
        background: none;
        background-color: #e7edf2;
        color: #000000;
        font-size: 16px;
        font-family: $font-open;
        font-weight: 300;
        box-shadow: none;
        text-shadow: none;
    }
    .dropdown-menu{
        padding: 0;
        margin: 0;
        background: none;
        border: 0;
        border-radius: 0;
        box-shadow: none;

        .dropdown-menu.inner.selectpicker{
            padding: 0;
            margin: 0;
            background-color: #e5eef3;
            border-bottom: 5px solid #c7d5dd;
            list-style: none;
            box-shadow: none;

            li{
                display: block;
                width: 100%;

                a{
                    display: block;
                    padding: 4px 15px;
                    color: #000000;
                    font-family: $font-open;
                    font-weight: 300;
                    font-size: 16px;
                    text-transform: capitalize;
                    @include transition(background 0.35s);

                    &:hover{
                        background: none;
                        background-color: #c8d4dd;
                    }
                }

                &.selected{
                    a{
                        background: none;
                        background-color: #c8d4dd;
                    }
                }
            }
        }
    }
}
.info-shop{
    margin-top: 35px;  
}
.tool-shop{
    padding: 0;
    margin: 0;

    li{
        display: inline-block;
        margin: 5px;
    }
}
.info-section{
    background-color: #e7edf2;
    padding: 15px;
    margin-bottom: 5px;
    min-height: 170px;
    
    p{
        color: #000000;
        font-size: 18px;
        font-family: $font-open;
        font-weight: 300;
        margin-bottom: 5px;

        &.title{
            margin-bottom: 10px;
            color: #7c7c7c;
        }
    }
}
.shop-image{
    img{
        width: 100%;
    }
}
p.date{
    color: #848484;
    font-size: 14px;
    font-family: $font-open;
    font-weight: 300;
}
.map{
    margin: 20px 0;
    border: 1px solid #cccccc;
}