@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic-ext);

$font-open: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;