.icon{
    display: inline-block;
    
    &.phone{
        background: url("../img/header-icons.png") no-repeat 0 0;
        width: 16px;
        height: 26px;
        vertical-align: bottom;
    }
    
    &.user{
        background: url("../img/header-icons.png") no-repeat -17px 0;
        width: 28px;
        height: 26px; 
    }
    
    &.cart{
        background: url("../img/header-icons.png") no-repeat -45px 0;
        width: 25px;
        height: 26px; 
    }
}
