@media print {
    .filter-block-big{
        display: none;
    }
    footer{
        display: none;
    }
    .set-view-mode{
        display: none;
    }
    .pagination-block, .seo, .mega-btn{
        display: none;
    }
	a[href]:after {
		content: none !important;
	}
	.navbar-header{
		a{
			i{
				display: none !important;
			}
			display: none;
			&.logo{
				display: block;
			}
		}
		button{
			display: none;
		}
	}
}
