@media print {
    .filter-block-big{
        display: none;
    }
    footer{
        display: none;
    }
    .set-view-mode{
        display: none;
    }
    .pagination-block{
        display: none;
    }
    .seo, .mega-btn{
        display: none;
    }
}
