@media screen and (max-width: 1500px) {
    .wrapper{
        background-size: 174px auto;

        .ice-right{
            background-size: 174px auto;
        }

        &.oseni{
            background-size: 174px auto;

            .ice-right{
                background-size: 174px auto;
            }
        }

        &.leto{
            background-size: 174px auto;

            .ice-right{
                background-size: 174px auto;
            }
        }
    }
    .goToTop{
        right: 45px;
    }
}
@media screen and (max-width: 1300px) {
    .wrapper{
        background-size: 100px auto;

        .ice-right{
            background-size: 100px auto;
        }

        &.oseni{
            background-size: 100px auto;

            .ice-right{
                background-size: 100px auto;
            }
        }

        &.leto{
            background-size: 100px auto;

            .ice-right{
                background-size: 100px auto;
            }
        }
    }
    .goToTop{
        right: 0;
    }
}
@media screen and (max-width: 1200px) {
    .wrapper{
        background-size: 50px auto;

        .ice-right{
            background-size: 50px auto;
        }

        &.oseni{
            background-size: 50px auto;

            .ice-right{
                background-size: 50px auto;
            }
        }

        &.leto{
            background-size: 50px auto;

            .ice-right{
                background-size: 50px auto;
            }
        }
    }
    nav .menu li{
        padding-right: 12px;
    }
    .logo{
        img{
            max-width: 100%;
        }
    }
    nav .menu li{
        padding-left: 2px;
        padding-right: 2px;
    }
    .block-range .range-input{
        width: 70px;
    }
    header .cart-block{
        margin-right: 0;
    }
    header .user-block{
        margin-right: 5px;
    }
    header .cart-block .cart,
    header .user-block .login{
        font-size: 16px;
    }
    main section.slider-top .slide .info-slide{
        width: 600px;
        height: 300px;
        padding: 52px 59px 68px 110px;
    }
    main section.slider-top .bx-controls .bx-pager{
        width: 600px;
        bottom: 250px;
    }
    nav .menu li .submenu{
        top: 66px;
        left: -1px;
    }
    .set-view-mode .new-line-mob{
        &:before{
            margin-top: 20px;
            width: 100%;
            display: table;
            content: " ";
            clear: both;
        }
    }
    .view-produs.table-mode-view .produs-block .produs-link{
        width: 230px;
    }
}
@media screen and (max-width: 992px) {
    nav.nav-bar-menu{
        height: 45px;
    }
    nav .menu li{
        height: 44px;
    }
    nav .menu li .submenu{
        top: 44px;
        left: -1px;
    }
    nav .menu li a{
        font-size: 13px;
        padding: 14px 0;
    }
    header .logo a{
        display: block;
    }
    nav .menu li{
        padding-left: 4px;
        padding-right: 4px;
        margin-left: -1px;
    }
    nav .menu li a span{
        display: none;
    } 
    main section.slider-top .slide .info-slide{
        width: 580px;
        height: 280px;
        padding: 52px 59px 68px 110px;
    }
    main section.slider-top .bx-controls .bx-pager{
        width: 570px;
        bottom: 210px;
    }

    header .call-number a span.small-text{
        font-size: 16px;
        vertical-align: initial;
    }
    header .call-number a{
        font-size: 20px;
    }
    header .cart-block{
        margin-right: 0;
        padding: 0;
    }
    header .user-block{
        margin-right: 5px;
        padding: 0;
    }
    header .cart-block .icon,
    header .user-block .icon{
        display: none;
    }
    header .cart-block .cart,
    header .user-block .login{
        font-size: 14px;
    }
    .wrapper{
        background: none;

        .ice-right{
            background: none;
        }

        &.oseni{
            background: none;

            .ice-right{
                background: none;
            }
        }

        &.leto{
            background: none;

            .ice-right{
                background: none;
            }
        }
    }
    main .why a.title{
        font-size: 18px;
    }
    main .why p.descr{
        font-size: 14px;
    }
    main .slider-product-side .slider-product .slide .produc-element{
        width: 100%;
    }
    .left-menu{
        margin-bottom: 20px;

        li{
            padding: 4px  10px;

            a{
                font-size: 16px;
                line-height: 100%;
            }
        }
    }
    .view-produs.grid-mode-view .produs-block{
        width: 48%;
        margin-right: 1%;
    }
    .new-line-mob {
        display: block;
    }
    .block-range .range-input{
        width: 100%;
    }
    .showZoom{
        display: none;
    }
    .shop-list {
        padding-bottom: 60px;
    }
    .goToTop{
        display: none;
    }
    .view-produs.table-mode-view .produs-block .produs-link{
        padding-top: 20px; 
    }
     .set-view-mode label{
        display: block;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .produs-block .produs-link{
        height: auto;
    }
    .view-produs.table-mode-view .produs-block .produs-link{
        width: 300px;
    }
}
@media(max-width:767px){

    header, .slider-top{
        display: none;
    }
    nav .menu li{
        height: auto;
    }
    nav.nav-bar-menu{
        height: auto;
    }
    nav .menu li .submenu{
        top: 0;
    }
    main .category .category-item{
        width: 49%;
        margin-bottom: 30px;
    }
    .block-range .range-input{
        width: 90px;
    }
    .info-slide{
        display: none;
    }
    .bx-controls{
        display: none;
    }
    .navbar-toggle .icon-bar{
        background-color: #003453;
    }
    nav .menu li{
        width: 100%;
        text-align: center;
        a{
            padding: 3px;
        }
        ul.submenu{
            position: relative;
            display: block;
            background: none;
            border: 0;
            li{
                a{
                    font-size: 12px;
                    padding: 3px;
                }
            }

        }
    }

    main{
        h1{
            font-size: 26px;
        }
    }

    .navbar-header{
        .logo{
            display: inline-block;
            margin-left: 15px;
            margin-top: 10px;

            img{
                height: 25px;
            }
        }

        i{
            color: #003453;
            font-size: 25px;
        }

        .button-mobile{
            display: inline-block;
            height: 45px;
            line-height: 65px;
            margin-right: 10px;
        }        
    }
    main .why a.title{
        font-size: 18px;
    }
    main .why p.descr{
        font-size: 14px;
    }
    main .why a.title{
        padding-right: 0;
    }
    main .why p.descr{
        padding-right: 0;
    }
    main .slider-product-side .slider-product .slide .produc-element{
        width: 100%;
    }
    footer{
        height: auto;
    }
    main .item-news.big-view img{
        max-width: 100%;
    }
    .query-block .ask .name-block{
        position: relative;
    }
    .query-block .ask{
        padding: 0;
    }
    .query-block{
        padding: 10px 15px 0;
    }
    table.list-table.order td,
    table.list-table td{
        display: block;
        width: 100%;
        border: 0;
        padding: 5px  10px;

        &:first-child{
            width: 100%;
            margin-top: 10px;
        }
    }
    table.list-table{
        th{
            display: none;
        }
    }

    .query-block .answer{
        padding-left: 0;
        .type-block{
            position: relative;
            display: block;
            margin-top: 15px;
        }
        .name-block{
            display: block;
            position: relative;
            left: 0;
        }
    }
    .shop-list{
        padding-bottom: 60px;
    }
    .filter-btn {
        font-size: 22px;
        font-weight: 300;
        font-family: $font-open;
        float: none;

        i{
            margin-left: 15px;
        }

    }
    .set-view-mode{

        label{
            margin-bottom: 20px;
        }

    }
    .button-mobile-text{
        position: absolute;
        left: 40px;
        top: 33px;
        font-size: 16px;
        color: #007ECB;
        font-weight: 600;
        font-family: $font-open;
    }
    
    .view-produs .head-view-block .pagination-block.pull-right{
        float: left !important;
    }
    .view .produs-img{
        height: auto;
        span{
            height: auto;
        }
    }
    .set-view{
        margin-top: 20px;
    }
     .set-view-mode .new-line-mob{
        a{
            float: left !important;
        }
    }
    .produs-block .produs-link{
        height: auto;
    }
    .view-produs.table-mode-view .produs-block .produs-link{
        width: 200px;
    }
    
}
@media(max-width:670px){
     .view-produs.table-mode-view .produs-block .produs-link{
        width: 100%;
    }
}
@media(max-width:550px){
    .view-produs.grid-mode-view .produs-block{
        width: 100%;
        margin-right: 0%;
    }
    .backToList{
        top: 5px;
    }
    .set-view{
        background: none;
        background-color: #E6EEF3;
    }
    .view-tab li{
        width: 100%;
    }
    .circle-white{
        display: none;
    }
   
    .view-produs.grid-mode-view .produs-block.active .cart-button,
    .view-produs.grid-mode-view .produs-block.active .foot-detail{
        position: relative;
    }
    .view-produs.grid-mode-view .produs-block.active .get-size-block{
        left: auto;
        right: auto;
        position: relative;
        top: 100%;
        width: 100%;
        border-top: 0;
        border-left: 2px solid #accfea;
        border-right: 2px solid #accfea;
    }
    .view-produs.grid-mode-view .produs-block.active .produs{
        border-left: 2px solid #accfea;
        border-right: 2px solid #accfea;
        border-bottom: 0;
    }
    .view-produs.table-mode-view .produs-block .produs-image{
        display: block;
        float: none;
    }

}
@media(max-width:400px){
    main .item-news img{
        width: 100%;   
    }
    .set-view-mode .grid-mode{
        display: block;
    }
}