/*  Author     : Starniciuc Mihai
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic-ext);
.btn-subscribe { border: 0; background: none; height: 35px; color: #FFFFFF; font-size: 16px; font-family: "Open Sans", sans-serif; background-color: #accfea; border-radius: 0; box-shadow: none; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transition: opacity 0.35s; -o-transition: opacity 0.35s; -webkit-transition: opacity 0.35s; transition: opacity 0.35s; }
.btn-subscribe:hover { opacity: 0.8; color: #FFFFFF; }

.icon { display: inline-block; }
.icon.phone { background: url("../img/header-icons.png") no-repeat 0 0; width: 16px; height: 26px; vertical-align: bottom; }
.icon.user { background: url("../img/header-icons.png") no-repeat -17px 0; width: 28px; height: 26px; }
.icon.cart { background: url("../img/header-icons.png") no-repeat -45px 0; width: 25px; height: 26px; }
.icon.social { background: url("../img/social-icons.png") no-repeat 0 0; width: 27px; height: 27px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; -moz-transition: opacity 0.35s; -o-transition: opacity 0.35s; -webkit-transition: opacity 0.35s; transition: opacity 0.35s; }
.icon.social.vk { background-position: 0 0; }
.icon.social.tw { background-position: -28px 0; }
.icon.social.fb { background-position: -56px 0; }
.icon.social.gp { background-position: -84px 0; }
.icon.social.ok { background-position: -112px 0; }
.icon.social.ok { background-position: -140px 0; }
.icon.social:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.icon.card { background: url("../img/shop-icon.png") no-repeat 0 0; width: 30px; height: 25px; }
.icon.cash { background: url("../img/shop-icon.png") no-repeat -32px 0; width: 30px; height: 25px; }
.icon.shop { background: url("../img/shop-icon.png") no-repeat -64px 0; width: 115px; height: 25px; }

body { background-color: #FFFFFF; }

header { min-height: 90px; }
header .call-number { padding-top: 32px; }
header .call-number a { color: #000000; font-family: "Roboto", sans-serif; font-size: 29px; font-weight: 500; display: inline-block; line-height: 29px; }
header .call-number a span.small-text { font-size: 20px; line-height: 25px; vertical-align: top; margin: 0 0 0 5px; }
header .call-number a:hover { text-decoration: none; color: #000000; }
header .logo { text-align: center; line-height: 90px; }
header .logo a { display: inline-block; }
header .logo a img { max-width: 100%; }
header .user-block { display: inline-block; margin-top: 27px; padding-left: 38px; position: relative; margin-right: 25px; float: right; }
header .user-block .icon.user { position: absolute; left: 0; top: 8px; }
header .user-block .login { color: #000000; font-family: "Roboto", sans-serif; font-size: 20px; font-weight: 500; display: block; }
header .user-block .registration { color: #5f5f5f; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 12px; display: block; }
header .cart-block { display: inline-block; margin-top: 27px; padding-left: 38px; position: relative; margin-right: 25px; float: right; }
header .cart-block > a:hover { text-decoration: underline; }
header .cart-block .icon.cart { position: absolute; left: 0; top: 8px; }
header .cart-block .cart { color: #000000; font-family: "Roboto", sans-serif; font-size: 20px; font-weight: 500; display: block; }
header .cart-block p { color: #5f5f5f; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 12px; display: block; margin: 0; }

nav.nav-bar-menu { min-height: 65px; background-color: #d4e5f2; border-bottom: 1px solid #FFFFFF; }
nav .menu { padding: 0; margin: 0; text-align: justify; }
nav .menu li { display: inline-block; margin-right: 75px; position: relative; }
nav .menu li a { color: #003453; font-family: "Open Sans", sans-serif; font-weight: 600; text-align: left; text-transform: uppercase; padding: 14px 10px; display: block; }
nav .menu li a span { display: block; font-size: 12px; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; color: #5a839c; text-transform: lowercase; }
nav .menu li a:hover { text-decoration: none; }
nav .menu li:first-child a { padding-left: 0; }
nav .menu li:last-child { margin-right: 0; }
nav .menu li:last-child a { padding-right: 0; }
nav .menu li .submenu { display: none; padding: 0; margin: 0; position: absolute; top: 66px; background-color: #e5eef3; border-bottom: 5px solid #c7d5dd; list-style: none; z-index: 105; }
nav .menu li .submenu li { display: block; width: 100%; }
nav .menu li .submenu li a { display: block; padding: 4px 15px; color: #000000; font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 16px; text-transform: capitalize; -moz-transition: background 0.35s; -o-transition: background 0.35s; -webkit-transition: background 0.35s; transition: background 0.35s; }
nav .menu li .submenu li a:hover { background-color: #c8d4dd; }
nav .menu li:hover .submenu { display: block; }

a:focus, a:active, a:hover, a { outline: 0; }

main { background: url("../img/ice-left.png") no-repeat 0 0; background-repeat: repeat-y; }
main .ice-right { background: url("../img/ice-right.png") no-repeat right 0; background-repeat: repeat-y; }
main section.slider-top { position: relative; }
main section.slider-top .slide img { width: 100%; }
main section.slider-top .slide .info-slide { position: absolute; bottom: 0; left: 50%; width: 735px; height: 370px; margin-left: -115px; -moz-border-radius: 370px 370px 0 0; -webkit-border-radius: 370px; border-radius: 370px 370px 0 0; background-color: rgba(255, 255, 255, 0.8); z-index: 65; color: #1c2c4b; font-family: "Open Sans", sans-serif; padding: 75px 190px; padding-left: 200px; }
main section.slider-top .slide .info-slide h4 { font-size: 25px; }
main section.slider-top .slide .info-slide h3 { font-size: 30px; }
main section.slider-top .slide .info-slide h2 { font-size: 40px; font-weight: bold; }
main section.slider-top .bx-controls .bx-pager { position: absolute; left: 50%; text-align: center; bottom: 295px; z-index: 65; width: 735px; margin-left: -110px; }
main section.slider-top .bx-controls .bx-pager .bx-pager-item { display: inline-block; }
main section.slider-top .bx-controls .bx-pager .bx-pager-item .bx-pager-link { text-indent: -9999px; background: url("../img/slider-nav.png") no-repeat 0 0; display: block; margin: 5px; width: 25px; height: 25px; }
main section.slider-top .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active { background-position: -27px 0; }
main .category { margin-top: 20px; margin-bottom: 20px; }
main .category .category-item { width: 19%; display: inline-block; text-align: center; }
main .category .category-item .logo { line-height: 160px; }
main .category .category-item .logo img { max-width: 100%; margin-bottom: 15px; }
main .category .category-item a { display: block; color: #7e9cc2; font-weight: 600; font-family: "Open Sans", sans-serif; text-transform: uppercase; }
main h1 { font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 50px; margin-bottom: 20px; margin-top: 20px; color: #1c2c4b; }
main .slider-product-side { position: relative; }
main .slider-product-side .slider-product .slide { text-align: center; }
main .slider-product-side .slider-product .slide img { max-width: 100%; }
main .slider-product-side .bx-controls-direction .bx-prev, main .slider-product-side .bx-controls-direction .bx-next { position: absolute; top: 50%; background: url("../img/product-control.png") no-repeat 0 0; display: block; width: 107px; height: 274px; margin-top: -140px; text-indent: -9999px; }
main .slider-product-side .bx-controls-direction .bx-prev { left: 0; }
main .slider-product-side .bx-controls-direction .bx-next { background-position: -106px 0; right: 0; }
main .news { background: url("../img/bg-news.png") no-repeat 0 0; background-size: 100% 100%; margin-top: 25px; margin-bottom: 25px; }
main .item-news { margin-bottom: 25px; }
main .item-news.list-view a.title { line-height: 24px; padding-bottom: 10px; display: block; }
main .item-news.list-view img { margin-right: 20px; }
main .item-news.big-view img { float: none; max-height: 300px; margin-bottom: 20px; }
main .item-news img { float: left; margin-right: 10px; }
main .item-news p.date { color: #4b4b4b; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 300; }
main .item-news a.title { color: #004e7c; font-size: 24px; font-family: "Open Sans", sans-serif; }
main .item-news p.descr { color: #000000; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 300; }
main .why { background: url("../img/bg-why.png") no-repeat right bottom; background-size: 150px 300px; padding-bottom: 30px; }
main .why .image-box { height: 220px; line-height: 220px; text-align: center; padding-right: 30px; }
main .why .image-box img { max-width: 100%; }
main .why a.title { color: #004e7c; font-size: 24px; font-family: "Open Sans", sans-serif; margin-bottom: 10px; display: block; padding-right: 30px; }
main .why p.descr { color: #6b7f8b; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 400; padding-right: 30px; }
main .why .one { position: absolute; top: 220px; left: -40px; background: url(../img/1.png) no-repeat 0 0px; width: 100px; height: 100px; }
main .why .two { position: absolute; top: 220px; left: -40px; background: url(../img/2.png) no-repeat 0 0px; width: 100px; height: 100px; }
main .why .three { position: absolute; top: 220px; left: -40px; background: url(../img/3.png) no-repeat 0 0px; width: 100px; height: 100px; }
main .breadcrumb { background: none; padding: 0; margin: 0; }
main .breadcrumb li { color: #004e7c; font-weight: 300; font-size: 16px; font-family: "Open Sans", sans-serif; margin: 20px 0 0; }
main .breadcrumb li a { color: #004e7c; font-weight: 300; font-size: 16px; font-family: "Open Sans", sans-serif; }
main .breadcrumb li a:hover { color: #004e7c; text-decoration: underline; }
main .breadcrumb > li + li:before { color: #004e7c; font-weight: 300; font-size: 16px; font-family: "Open Sans", sans-serif; }
main .pagination-block { color: #000000; font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 18px; margin-bottom: 20px; }
main .pagination-block span { display: inline-block; }
main .pagination-block ul.pagination-list { display: inline-block; padding: 0; margin: 0; list-style: none; }
main .pagination-block ul.pagination-list li { display: inline-block; margin: 0 5px; }
main .pagination-block ul.pagination-list li a { font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 18px; color: #004e7c; border-top: 2px solid #FFFFFF; padding: 3px 10px 2px; -moz-transition: all 0.35s; -o-transition: all 0.35s; -webkit-transition: all 0.35s; transition: all 0.35s; }
main .pagination-block ul.pagination-list li a:hover { text-decoration: none; border-top: 2px solid #94a0a9; background-color: #aebdc8; color: #FFFFFF; }
main .pagination-block ul.pagination-list li.active a { border-top: 2px solid #94a0a9; background-color: #aebdc8; color: #FFFFFF; }
main .pagination-block ul.pagination-list li.active a:hover { text-decoration: none; }
main h5 { font-size: 24px; color: #000000; font-family: "Open Sans", sans-serif; }
main .share-block { margin-bottom: 20px; }

ul.social-buttons { padding: 0; margin: 0; margin-top: 20px; }
ul.social-buttons li { display: inline-block; margin: 5px; }
ul.social-buttons li:first-child { margin-left: 0; }
ul.social-buttons li a span { color: #000000; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 300; border-bottom: 1px dotted #000000; margin-left: 5px; margin-right: 10px; -moz-transition: all 0.35s; -o-transition: all 0.35s; -webkit-transition: all 0.35s; transition: all 0.35s; }
ul.social-buttons li a .social { vertical-align: middle; }
ul.social-buttons li a:hover { text-decoration: none; }
ul.social-buttons li a:hover .social { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; vertical-align: middle; }
ul.social-buttons li a:hover span { border: 0; }

.form-side { margin-bottom: 30px; }
.form-side label { color: #000000; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 300; margin-bottom: 10px; }
.form-side input.form-control, .form-side textarea.form-control { border-radius: 0; box-shadow: none; border: 0; background-color: #e7edf2; height: 35px; font-size: 16px; }
.form-side textarea.form-control { height: 140px; }
.form-side .add-file { width: 100%; height: 35px; position: relative; background-color: #e7edf2; padding: 4px 15px; background-image: url("../img/upload.png"); background-repeat: no-repeat; background-position: 97% center; }
.form-side .add-file span { color: #000000; font-size: 16px; font-family: "Open Sans", sans-serif; }
.form-side .add-file input[type="file"] { display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; cursor: pointer; }

.query-block { border-top: 1px solid #b4b4b4; padding: 15px 15px 30px; margin-top: 10px; }
.query-block .ask { position: relative; padding-left: 120px; margin-bottom: 20px; }
.query-block .ask .name-block { position: absolute; top: 0px; left: 0px; }
.query-block .ask .name-block p.name { color: #000000; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 600; margin: 0; margin-bottom: 5px; }
.query-block .ask .name-block p.date { color: #828282; font-family: "Open Sans", sans-serif; font-size: 12px; font-weight: 300; margin: 0; }
.query-block .ask p { color: #000000; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 300; }
.query-block .answer { position: relative; padding-left: 240px; }
.query-block .answer .type-block { position: absolute; top: 0px; left: 0px; }
.query-block .answer .type-block p { color: #828282; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 300; }
.query-block .answer .name-block { position: absolute; top: 0px; left: 120px; }
.query-block .answer .name-block p { color: #000000; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 600; margin: 0; }
.query-block .answer p { color: #000000; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 300; }

.shop-list { background-color: #e7edf2; padding: 15px; margin-bottom: 15px; }
.shop-list a.name { color: #004e7c; font-family: "Open Sans", sans-serif; font-size: 24px; }
.shop-list a.name:hover { text-decoration: underline; color: #004e7c; }
.shop-list p { color: #000000; font-size: 18px; font-family: "Open Sans", sans-serif; font-weight: 300; margin-bottom: 5px; }
.shop-list p.title { margin-bottom: 10px; color: #7c7c7c; }
.shop-list .tool-shop { padding: 0; margin: 0; list-style: none; position: absolute; bottom: 15px; left: 20px; }
.shop-list .tool-shop li { display: inline-block; margin: 5px; }

.select-city { float: right; margin-top: 30px; }
.select-city span.name { color: #000000; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 300; display: inline-block; margin-right: 10px; margin-top: 5px; }

.bootstrap-select .selectpicker.btn-default { border: 0; border-radius: 0; background: none; background-color: #e7edf2; color: #000000; font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: 300; box-shadow: none; text-shadow: none; }
.bootstrap-select .dropdown-menu { padding: 0; margin: 0; background: none; border: 0; border-radius: 0; box-shadow: none; }
.bootstrap-select .dropdown-menu .dropdown-menu.inner.selectpicker { padding: 0; margin: 0; background-color: #e5eef3; border-bottom: 5px solid #c7d5dd; list-style: none; box-shadow: none; }
.bootstrap-select .dropdown-menu .dropdown-menu.inner.selectpicker li { display: block; width: 100%; }
.bootstrap-select .dropdown-menu .dropdown-menu.inner.selectpicker li a { display: block; padding: 4px 15px; color: #000000; font-family: "Open Sans", sans-serif; font-weight: 300; font-size: 16px; text-transform: capitalize; -moz-transition: background 0.35s; -o-transition: background 0.35s; -webkit-transition: background 0.35s; transition: background 0.35s; }
.bootstrap-select .dropdown-menu .dropdown-menu.inner.selectpicker li a:hover { background: none; background-color: #c8d4dd; }
.bootstrap-select .dropdown-menu .dropdown-menu.inner.selectpicker li.selected a { background: none; background-color: #c8d4dd; }

.info-shop { margin-top: 35px; }

.tool-shop { padding: 0; margin: 0; }
.tool-shop li { display: inline-block; margin: 5px; }

.info-section { background-color: #e7edf2; padding: 15px; margin-bottom: 5px; min-height: 170px; }
.info-section p { color: #000000; font-size: 18px; font-family: "Open Sans", sans-serif; font-weight: 300; margin-bottom: 5px; }
.info-section p.title { margin-bottom: 10px; color: #7c7c7c; }

.shop-image img { width: 100%; }

p.date { color: #848484; font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 300; }

.map { margin: 20px 0; border: 1px solid #cccccc; }

footer { background: #d5e2ec; padding-top: 30px; padding-bottom: 30px; }
footer .logo { margin-bottom: 15px; }
footer p { color: #8295a1; font-size: 16px; font-family: "Open Sans", sans-serif; }
footer a { color: #004e7c; font-size: 16px; font-family: "Open Sans", sans-serif; }
footer ul { list-style: none; padding: 0; margin: 0; margin-top: 40px; }
footer ul li { padding-bottom: 10px; }
footer .subscribe h4 { font-size: 16px; font-family: "Open Sans", sans-serif; color: #8295a1; }
footer .subscribe .submit-form { position: relative; }
footer .subscribe .submit-form input.form-control { border: 0; height: 35px; border-radius: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; padding-right: 100px; color: #91a3af; font-size: 16px; font-family: "Open Sans", sans-serif; }
footer .subscribe .submit-form .btn-subscribe { position: absolute; right: 0; top: 0; }

/*# sourceMappingURL=main.css.map */
